<div class="modal-header">
    <h3 class="modal-title">Friend Requests</h3>
  </div>
  <div class="modal-body">
      <table>
        <body>
            <tr ng-repeat="user in requests">
                <td>{{user.email}}</td>
                <td><button ng-click="accept(user)"><i class="fa-solid fa-check"></i></button></td>
                <td><button ng-click="reject(user)"><i class="fa-solid fa-circle-xmark"></i></button></td>
            </tr>
        </body>
      </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>