<div class="login">
    <h1 align="center" style="color: blue;"><i class="fa-brands fa-facebook"></i>  FACEBOOK</h1>
    <hr/>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" ng-model="loginRequest.email" />
          </div>
    
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" ng-model="loginRequest.password" />
          </div>
  
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4" ng-click="login()">Sign in</button>
    
          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="/register">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>